.tags {
  margin-bottom: var(--spacing-vertical-medium) 0;
  display: flex;
  flex-wrap: wrap;
}

.tags--selected {
  margin: var(--spacing-vertical-large) 0;
  min-height: 3rem;
}

.tags__empty-message {
  margin-top: var(--spacing-vertical-medium);
}

.tag {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: var(--spacing-vertical-small);
  margin-right: var(--spacing-vertical-small);
  padding-left: 1rem;
  font-size: 1.1rem;
  line-height: 2;
  cursor: pointer;
  background-color: $lbry-white;
  border-radius: 1.5rem;
  border: 1px solid rgba($lbry-indigo-3, 0.5);
  transition: all 0.2s;

  &:not(:last-of-type) {
    margin-right: var(--spacing-s);
  }

  &:hover {
    background-color: $lbry-indigo-3;
    color: $lbry-white;
    border-color: $lbry-gray-1;
  }

  &:focus {
    box-shadow: 0 0 0 4px var(--color-focus);
  }

  &:active {
    box-shadow: 0 0 0 4px $lbry-indigo-3;
  }
}

.tag--selected {
  background-color: $lbry-indigo-3;
  color: $lbry-white;
  border: none;

  &:hover {
    background-color: $lbry-white;
    color: $lbry-black;
    box-shadow: 0 0 0 4px rgba($lbry-red-3, 0.25);
  }
}

.tag__action-label {
  border-left: 1px solid rgba($lbry-black, 0.1);
  display: inline-block;
  margin-left: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.5rem;

  html[data-mode='dark'] & {
    border-color: rgba($lbry-white, 0.1);
  }
}
